In [1]:
import pandas as pd

### Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [2]:
#импортируем данные
ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [12]:
# функция для распределения по классам
def rating_class(data):
    if data['rating'] <= 2:
        return 'Низкий рейтинг'
    elif data['rating'] >= 4.5:
        return 'Высокий рейтинг'
    else:
        return 'Средний рейтинг'

In [21]:
#создаем новый df с новым столбцом class
ratings['class'] = ratings.apply(rating_class, axis = 1)
ratings.head(10)

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  Средний рейтинг
1       1     1029     3.0  1260759179  Средний рейтинг
2       1     1061     3.0  1260759182  Средний рейтинг
3       1     1129     2.0  1260759185   Низкий рейтинг
4       1     1172     4.0  1260759205  Средний рейтинг
5       1     1263     2.0  1260759151   Низкий рейтинг
6       1     1287     2.0  1260759187   Низкий рейтинг
7       1     1293     2.0  1260759148   Низкий рейтинг
8       1     1339     3.5  1260759125  Средний рейтинг
9       1     1343     2.0  1260759131   Низкий рейтинг

### Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

1
2
3
4
5
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [51]:
#читаем файл keywords.csv.
keywords  = pd.read_csv('ml-latest-small\keywords.csv')
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [56]:
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] }

In [57]:
geo_data

{'Центр': ['москва', 'тула', 'ярославль'],
 'Северо-Запад': ['петербург', 'псков', 'мурманск'],
 'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}

In [64]:

def geo_class(row):
    line = row['keyword']
    
    for key, v in geo_data.items():
        if line in list(v):
            return (key)
        else:
            return ('undefined')

In [66]:
keywords['region'] = keywords.apply(geo_class, axis = 1)
keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined